<% content_for :navbar do %>
  <%= render 'shared/root_navbar' %>
<% end %>

<!-- All of the Events -->
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <h4 class="text-muted text-tag">Newest Events</h4>
      <% @newest_events.each do |event| %>
        <div class="newest_content">
          <%= link_to event_path(event), class: "text-dark text-decoration-none" do %>
            <h1><%= event.title %></h1>
            <span><%= image_tag event.images.first.variant(resize_to_limit: [150, 100]), class: "float-right index-image" if event.images.attached? %></span>
            <%= event.location %>
            <%= event.date %>
            <p class="text-break"><%= truncate(event.content, length: 150) %></p>
            Participates <b><%= event.participates.size %></b>
          <% end %>
          <%= render partial: "shared/participate", locals: { event: event } %>
        </div>
        <hr>
      <% end %>
      
      <% unless Event.count < 15 %>
        <%= link_to "See More...", events_path, class: "float-right text-dark text-decoration-none" %>
      <% end %>
    </div>
  
    <div class="col-lg-4 col-md-4 col-sm-12">
      <!-- Most of Searching -->
      
      <!-- Participated Top -->
      <h6 class="text-muted text-tag text-center">Popular for People</h6>
      <hr>
      <% @papular_events.each_with_index do |event, index| %>
        <div class="papular-content">
          <span class="text-muted text-number"><%= index + 1 %></span>
          <%= link_to event_path(event), class: "text-dark text-decoration-none" do %>
            <span class="popular-text"><%= event.title %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  
  </div>


