<h1>Hi</h1>

<!-- 所有的events -->
<% @events.each do |event| %>
  <%= link_to event_path(event) do %>
    <%= event.user.username %>
    <%= event.title %>
    <%= event.date %>
    <%= event.location %>
    <%= event.gather_location %>
    <%= simple_format(event.content).truncate(150) %>
    <%= event.note %>
  <% end %>
<% end %>

<!-- 景點排名 -->

<!-- 最多人參加 -->