<!-- 個人資料/ -->
<div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-6 col-sm-10 user-content">
    <%= avatar(@user, 150) %>
    <h2 class="profile" data-controller="user">
      <%= @user.username %>
      <%= link_to "Follow", "#", class: "btn btn-secondary follow-button",
                  data: { action: "user#follow",
                          user: @user, target: "user.followButton"} %>
    </h2>
    <p><%= simple_format(@user.intro) %></p>
    <% if current_user == @user %>
      <%= link_to "新事件", new_event_path, class: "btn btn-secondary" %>
    <% end %>
    </div>
  <div class="clearfix"></div>
</div>
<div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-6 col-sm-10">
    <hr>
  </div>
</div>  


<div class="row justify-content-md-center">
  <!-- 自己開的團 -->
  <div class="col">
    <% @events.each do |event| %>
      <%= link_to event_path(event) do %>
        <%= event.user.username %>
        <%= event.title %>
        <%= event.date %>
        <%= event.location %>
        <%= event.gather_location %>
        <%= simple_format(event.content).truncate(150) %>
        <%= event.note %>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <!-- 參加的團 -->
    <div class="col"></div>

    <!-- 追蹤的團 -->
    <div class="col"></div>
  </div>
</div>