<!-- 個人資料 -->
<div class="user-content">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-6 col-sm-10">
      <%= avatar(@user, 150) %>
      <h2 class="profile" data-controller="user">
        <%= @user.username %>
        <%= link_to "#", class: "btn btn-secondary follow-button",
                          data: { action: "user#follow",
                                  user: @user.id, 
                                  target: "user.followButton" } do %>
          <%= (user_signed_in? && current_user.follow?(@user)) ? 'Followed' : 'Follow' %>
        <% end %>
      </h2>
      <p><%= simple_format(@user.intro) %></p>
      <p>
        Events <b><%= @user.events.count %></b>
        Followers <b><%= link_to @user.followers.size, followers_user_path(@user), class: "text-dark text-decoration-none" %></b>
        Followings <b><%= link_to @user.followings.size, followings_user_path(@user), class: "text-dark text-decoration-none" %></b>
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-6 col-sm-10">
      <hr>
    </div>
  </div>  
</div>

<!-- User's Events -->
<div class="user-events">
  <div class="row justify-content-md-center">
    <% if user_signed_in? && current_user == @user %>
      <div class="col-lg-10 col-md-10 col-sm-12">
        <!-- 自己開的團 -->
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12">
            <% @events.each do |event| %>
              <%= link_to event_path(event) do %>
                <%= event.user.username %>
                <%= event.title %>
                <%= event.date %>
                <%= event.location %>
                <%= event.gather_location %>
                <%= simple_format(event.content).truncate(150) %>
                <%= event.note %>
              <% end %>
            <% end %>
          </div>
          <hr>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <!-- 參加的團 -->
            <div class="col-12">
              <% @participated_events.each do |event| %>
                <%= event.title %>
              <% end %>
            </div>
            <hr>
            <!-- 已參加過的團 -->
            <div class="col-12">
              <% @overdue_participated_events.each do |event| %>
                <%= event.title %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-lg-10 col-md-10 col-sm-12">
        <% @events.each do |event| %>
          <%= link_to event_path(event) do %>
            <%= event.user.username %>
            <%= event.title %>
            <%= event.date %>
            <%= event.location %>
            <%= event.gather_location %>
            <%= simple_format(event.content).truncate(150) %>
            <%= event.note %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>