<!-- User Profile -->
<div class="user-content">
  <div class="row justify-content-md-center">
    <div class="col-lg-8 col-md-10 col-sm-12" data-controller="user">
      <%= avatar(@user, 150) %>
      <h2 class="profile">
        <%= @user.username %>
        <%= link_to "#", class: "btn btn-secondary follow-button",
                          data: { action: "user#follow",
                                  user: @user.id, 
                                  target: "user.followButton" } do %>
          <%= (user_signed_in? && current_user.follow?(@user)) ? 'Followed' : 'Follow' %>
        <% end %>
      </h2>
      <p><%= simple_format(@user.intro) %></p>
      <p>
        Events <b><%= @user.events.count %></b>
        
        Followers 
        <b>
          <%= link_to "#", class: "text-dark text-decoration-none",
                            data: { action: "user#follower",
                                      user: @user.username,
                                    target: "user.followerButton"} do %> 
            <%= @user.followers.size %>
          <% end %>
        </b>
        
        Followings 
        <b>
          <%= link_to "#", class: "text-dark text-decoration-none",
                                      data: { action: "user#following",
                                                user: @user.username,
                                              target: "user.followingButton"} do %>
            <%= @user.followings.size %>
          <% end %>
        </b>
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-10 col-md-10 col-sm-12">
      <hr>
    </div>
  </div>  
</div>

<!-- User's Events -->
<div class="user-events">
  <div class="row justify-content-md-center">
    <% if user_signed_in? && current_user == @user %>
      <div class="col-lg-10 col-md-10 col-sm-12">
        <!-- Event by owner -->
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12">
            <% @events.each do |event| %>
              <%= link_to event_path(event), class: "text-dark text-decoration-none" do %>
                <div class="card">
                  <div class="card-body">
                    <h4>
                      <%= event.title %>
                      <small class="text-muted"><%= event.date %></small>
                    </h4>
                    <p><%= truncate((event.content), length: 100) %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <hr>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <!-- Events which owner participeted -->
            <div class="col-12">
              <%= render "welcome_events", events: @participated_events %>
            </div>
            <hr>
            <!-- Events which owner participated, but overdue -->
            <div class="col-12">
              <%= render "welcome_events", events: @overdue_participated_events %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <% @events.each do |event| %>
          <%= link_to event_path(event), class: "text-dark text-decoration-none" do %>
            <h4>
              <%= event.title %>
              <small class="text-muted"><%= event.date %></small>
            </h4>
            <p><%= truncate((event.content), length: 100) %></p>
          <% end %>
          <hr>
        <% end %>
      </div>
    <% end %>
  </div>
</div>