<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10 col-sm-12 align-self-center">
    
    <%= form_with model: event do |f| %>
      <div class="form-group">
        <%= f.label :title, "Title", class: "label-text" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :images, "Images", class: "label-text" %>
        <%= f.file_field :images, multiple: true %>
      </div>
    
      <div class="form-group">
        <%= f.label :date, "Date", class: "label-text" %>
        <%= f.date_field :date, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :location, "Location", class: "label-text" %>
        <%= f.text_field :location, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :gather_location, "Meeting Point", class: "label-text" %>
        <%= f.text_field :gather_location, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :note, "Reminder", class: "label-text" %>
        <%= f.text_area :note, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :content, "Content", class: "label-text" %>
        <%= f.text_area :content, rows: "10", class: "form-control" %>
      </div>
      
      <div class="action">
        <%= f.submit :Draft, name: "save_as_draft", class: "btn btn-info btn-text" %>
        <%= f.submit :Publish, name: "publish", class: "btn btn-success btn-text" if event.may_publish? %>
        <%= f.submit :Unpublish, name: "unpublish", class: "btn btn-danger btn-text" if event.may_unpublish? %>
      </div>
    <% end %>

  </div>
</div>