<h2>
  Your Events
  <span class="float-right">
    <%= link_to "Create Event", new_event_path, class: "btn btn-secondary btn-large" %>
  </span>
</h2>


<ul class="nav nav-tabs nav-margin">
  <li class="nav-item">
    <%= link_to draft_events_path, class: "text-dark text-decoration-none nav-link active" do %>
      Drafts <%= @draft_count %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to public_events_path, class: "text-dark text-decoration-none nav-link" do %>
      Published <%= @public_count %>
    <% end %>
  </li>
</ul>

<div class="event-content">
  <% @draft_events.each do |event| %>
    <h3><%= link_to event.title, event_path(event), class: "text-dark text-decoration-none" %></h3>
    <%= event.status %>
    <small class="text-muted">Last edited from <%= time_ago_in_words(event.updated_at) %>
      <span class="btn-group">
        <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"></button>
        <div class="dropdown-menu">
          <%= link_to "Edit", edit_event_path(event), class: "dropdown-item" %>
          <%= link_to "Delete", event_path(event), class: "dropdown-item", 
                                method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </span>
    </small>
    <hr>
  <% end %>
</div>