<div class="row justify-content-center">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
      <%= image_tag @event.images.first, class: "d-block w-100" if @event.images.attached? %>
    </div>
  </div>
    
  <div class="col-lg-10 col-md-10 col-sm-12">
    <h2>
      <%= @event.title %>
      <span class="float-right">
        <%= render partial: "shared/participate", locals: { event: @event } %>
      </span>
    </h2>
    <h3><%= link_to @event.user.username, user_page_path(@event.user.username),
                                          class: "text-dark text-decoration-none" %></h3>
    <p><b>Date：</b><%= @event.date %></p>
    <p><b>Participates：</b><%= @event.participates.size %></p>
    <p><b>Mountain Name：</b><%= @event.location %></p>
    <p><b>Meeting Point：</b><%= @event.gather_location %></p>
    <p><b>Reminder：</b><%= simple_format(@event.note) %></p>
    <p><b>Content：</b><%= simple_format(@event.content, class: "text-break") %></p>
  </div>
</div>

<hr>

<!-- Comments -->
<div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-8 col-sm-12">
    <section class="comments">
      <h4>Comment</h4>
      <%= render "comment_area", event: @event, comment: @comment %>
      <section class="comment-list">
        <%= render partial: "comment", collection: @comments %>
      </section>
    </section>
  </div>
</div>